/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*Global Styling*/
:root {
    --white: #EEFEFF;
    --dark-blue: #121212;
}

html {
    font-size: 62.5%;
}

html:focus-within {
    scroll-behavior: smooth;
}

nav li {
    list-style: none;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: var(--dark-blue);
    overflow-x: hidden;
    cursor: default;
    color: var(--white);
}

img {
    max-width: 100%;
}

header, section, nav {
    display: block;
}

/* Header Styling */

header {
    display: block;
    float: right;
    padding: 20px;
    justify-content: space-between;
}

header img {
    height: 30px;
    width: 30px;
    margin-right: 40px;
}

/* Main Styling */

main {
    display: flex;
    padding: 75px;
    flex-direction: row;
    align-items: left;
    text-align: left;
}

#welcome {
    display: block;
    min-height: 250px;
    margin-top: 100px;
    margin-bottom: 150px;
    margin-left: 100px;
    max-width: 2000px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.name {
    font-size: 40px;
    font-weight: bold;
    color: #4db5ff;
}

.third-line, .education-title {
    font-size: 32px;
    font-weight: bold;
}

.description {
    font-size: 23px;
    text-align: justify;
}

/* Navigation Styling */

/* Step 1: Navigation Bar Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    height: 50px;
}

/* Step 4: Navigation List Styles */
nav ul {
    display: inline-flex;
    float: right;
    flex-direction: row;
}

/* Step 5: Navigation List Item Styles */
a:link {
    border: none;
    cursor: pointer;
    color: var(--white);
    font-size: 20px;
}

/* Step 6: Navigation List Item Hover Styles */
a:hover {
    color: #ddfaff;
    transition: ease-in-out;
}

/* Step 7: Navigation List Item Anchor Styles */
a:visited {
    color: #4db5ff;
}

nav li {
    list-style: none;
}

#education {
    margin-top: 500px;
}

.education-title {
    margin-bottom: 75px;
}

.school {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px var(--white), -2px 0.4px var(--white);
    margin-bottom: 100px;
    max-width: 350px;
    min-height: 300px;
    cursor: pointer;
    align-items: left;
    padding: 15px;
}

.school-title, .project-title {
    font-size: 25px;
    font-weight: bold;
    color: #4db5ff;
}

.school-year, .school-time, .school-award, .project-desc, .project-summary {
    font-size: 15px;
}

.awards {
    font-size: 15px;
}

.project {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px var(--white), -2px 0.4px var(--white);
    margin-bottom: 100px;
    max-width: 350px;
    min-height: 100px;
    cursor: pointer;
    align-items: left;
    padding: 15px;
}