/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Global Styling */
:root {
    --blue-green: #088F8F;
    --gray: #ebecf0;
    --dark-blue: #131e3a;
    --white: #FFFFFF;
    --light-blue: #ADD8E6;
}

*::before { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

ol, ul, li {
    list-style: none;
}

html {
    font-size: 62.5%;
}

html:focus-within {
    scroll-behavior: smooth;
}
  
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: var(--gray);
    overflow-x: hidden;
    cursor: default;
}

img, picture {
    max-width: 100%;
}

article, aside, footer, header, nav, section {
	display: block;
}

/* Navigation Styling */

/* Step 1: Navigation Bar Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    height: 50px;
}

/* Step 2: Navigation Text Styles */
nav p {
    font-size: 20px;
    font-weight: bold;
    color: black;
    float: left;
}

/* Step 3: Navigation Span Styles */
nav p span {
    color: var(--blue-green);
}

/* Step 4: Navigation List Styles */
nav ul {
    display: inline-flex;
    float: right;
    gap: 20px;
    font-size: 17px;
    flex-direction: row;
}

/* Step 5: Navigation List Item Styles */
nav ul li {
    border: none;
    cursor: pointer;
}

/* Step 6: Navigation List Item Hover Styles */
nav ul li:hover {
    color: var(--blue-green);
    transition: ease-in-out;
}

/* Step 7: Navigation List Item Anchor Styles */
nav ul li:active {
    color: var(--dark-blue);
}

/* Step 9: Responsive Styles for Navigation */
@media only screen and (max-width: 880px) {
    nav {
        padding: 0 10px;
    }
}

/* Step 10: Responsive Styles for Hidden Navigation on Small Screens */
@media only screen and (max-width: 700px) {
    nav ul {
        display: none;
    }
}

/* Slider Section Styling */

/* Step 1: Section Styles */
section {
    background-color: var(--light-blue);
    height: 200px;
}

/* Step 2: Content Styles */
.content {
    position: relative;
    text-align: center;
    color: var(--dark-blue);
    width: 100%;
    padding-top: 10px;
}

/* Step 3: Heading Styles */
.content h1 {
    font-size: 40px;
}

/* Step 4: Paragraph Styles */
.content p {
    font-size: 18px;
    margin-top: -20px;
}

/* Step 5: Responsive Styles */
@media only screen and (max-width: 945px) {
    .content h1 {
        font-size: 30px;
    }
    
    .content p {
        font-size: 16px;
        max-width: 400px;
    }
}

@media only screen and (max-width: 680px) {
    .content h1 {
        font-size: 30px;
    }
    
    .content p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 300px) {
    .content h1 {
        font-size: 20px;
    }
    
    .content p {
        padding: 10px;
    }
}

/* Main Content Section Styling */

/* Step 1: Main Content Container Styles */
main {
    display: flex;
    align-items: left;
    flex-direction: row;
    text-align: left;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    gap: 100px;
}

@media only screen and (max-width: 1124px) {
    .main-content {
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        gap: 50px;
    }
}

/* Step 4: Post Styles */
.post {
    display: flex;
    background-color: var(--white);
    box-shadow: 3px 3px rgb(184, 206, 213), -3px 0.4px rgb(184, 206, 213);
    margin-bottom: 100px;
    min-height: 250px;
    max-width: 2000px;
    cursor: pointer;
}

/* Step 7: Post Image Inner Styles */
.post-image img {
    height: 230px;
    width: 700px;
    object-fit: auto;
    margin-top: 10px;
    margin-left: 10px;
}

/* Step 8: Post Content Styles */
.post-content {
    padding: 18px;
    text-align: left;
    display: inline-block;
}

/* Step 9: Post Title Styles */
.post-title {
    color: var(--dark-blue);
    font-size: 26px;
    font-weight: 600;
}

/* Step 10: Post Info Styles */
.post-info {
    color: var(--dark-blue);
    font-size: 15px;
    font-weight: 600;
}

/* Step 11: Post Summary Styles */
.post-summary {
    line-height: 20px;
    color: var(--dark-blue);
    font-size: 12.5px;
    margin-top: 30px;
    text-align: justify;
}

/* Step 12: Responsive Styles */
@media only screen and (max-width: 992px) {
    .main-content {
        flex-direction: column;
    }
}

/* Step 13: Responsive Styles for Posts */
@media only screen and (max-width: 500px) {
    .main-content {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
        gap: 20px;
    }

    .post {
        flex-direction: column;
    }
}

/* Sidebar Styling */

/* Step 3: Popular Posts Heading Styles */
.popular-posts-side h2, .social-side h2 {
    font-size: 18px;
    color: var(--dark-blue);
    font-weight: bolder;
}

/* Step 4: Popular Post Styles */
.popular-post {
    flex: auto;
    background-color: var(--white);
    width: 375px;
    height: 85px;
    display: flex;
    box-shadow: 3px 3px rgb(184, 206, 213), -3px 0.4px rgb(184, 206, 213);
    margin-bottom: 40px;
    cursor: pointer;
}

/* Step 6: Popular Post Image Styles */
.popular-post-content {
    padding: 10px;
    text-align: left;
    display: inline-block;
}

/* Step 7: Popular Post Image Hover Styles */
.popular-post-image img {
    width: 70px;
    height: 65px;
    object-fit: auto;
    margin-top: 10px;
    margin-left: 10px;
}

/* Step 8: Popular Post Title Styles */
.popular-post-title {
    font-size: 20px;
    color: var(--dark-blue);
    font-weight: bold;
}

/* Step 9: Popular Post Description Styles */
.popular-post-desc {
    font-size: 12px;
    margin-top: 15px;
}

/* Step 10: Responsive Styles for Popular Posts Container */
@media only screen and (max-width: 500px) {
    .popular-posts-side {
        margin: 10px;
    }
}

/* Step 11: Social Side Container Styles */
.social-side {
    margin-top: 200px;
}

/* Step 12: Social Side Box Styles */
.social-side div {
    display: block;
}

.social-side img {
    height: 50px;
    width: 50px;
    border-radius: 3px;
    padding: 20px;
}

/* Step 15: Footer Splitter Styles */
@media only screen and (max-width: 992px) {
    .sidebar {
        flex-direction: column;
    }
}

/* Footer Styling */

/* Step 1: Footer Container Styles */
footer {
    background-color: var(--dark-blue);
    color: var(--white);
}

/* Step 2: Footer Boxes Container Styles */
footer .footerBoxes {
    display: flex;
    flex-direction: horizontal;
    align-content: left;
    justify-content: space-evenly;
    align-items: left;
    gap: 20px;
    padding: 10px;
}

/* Step 3: Responsive Styles for Footer Boxes Container */
@media only screen and (max-width: 1000px) {
    footer .footerBoxes {
        padding: 5px;
    }
}

/* Step 4: Responsive Styles for Footer Boxes Container (Mobile) */
@media only screen and (max-width: 600px) {
    footer .footerBoxes {
        flex-direction: column;
    }
}

/* Step 5: Footer Box Styles */
footer .footerBoxes .footerBox {
    text-align: justify;
    width: 430px;
}

/* Step 6: Footer Box Heading Styles */
footer .footerBoxes .footerBox h3 {
    font-size: 20px;
    letter-spacing: 1px;
}

/* Step 7: Footer Box Divider Styles */
footer .footerBoxes .footerBox hr {
    margin-bottom: 20px;
}

/* Step 8: Footer Box Text Styles */
footer .footerBoxes .footerBox p {
    font-size: 13px;
}

/* Step 9: Footer Splitter Styles */
footer .splitter {
    height: 1px;
    margin-top: 20px;
    margin-left: 600px;
    margin-right: 600px;
    background-color: rgb(134, 142, 186);
}

/* Step 10: Copy-Right Text Styles */
.copy-right {
    font-size: 13px;
    text-align: center;
    padding: 15px;
}